header {
  display: flex;
  justify-content: space-between;
  background-color: #2b61eb;
  border-bottom: 10px solid #000;
  padding: 10px 20px;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

a::before {
  content: "";
  background-color: #f8e116;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#button {
  display: inline-block;
  background-color: #f8e116;
  box-shadow: 5px 5px 0px black;
  padding: 18px 20px;
  margin-right: 0;
  color: #000;
  transition: transform 100ms linear;
}

#button:hover {
  transform: translateX(8px) rotate(8deg) translateY(2.5px);
}
