.main-section {
  background-color: #2b61eb;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #f8e116;
}

.main-section .main-title {
  margin-bottom: 60px;
}

.main-section.-bgBlack {
  background-color: black;
}

.main-section.-bdFirst {
  border-color: #f8e116;
}

.main-section.-bgSecond {
  background-color: #2b61eb;
}

.main-section.-bdBlack {
  border-color: black;
}