.section {
  background-color: #2b61eb;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #f8e116;
}

.section .main-title {
  margin-bottom: 60px;
}

.section.-bgBlack {
  background-color: white;
}

.section.-bdFirst {
  border-color: #f8e116;
}
