.title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 35px;
  color: #f8e116;
  text-shadow: 4px 4px 0 black;
}

.title.-second {
  color: white;
  text-shadow: none;
  text-align: center;
}
